body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(wallpaperflare.com_wallpaper\ \(2\).jpg);

    
    
}

.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)

    
}
.product {
    padding-bottom: 20px;

}

.rangexD{
    padding-bottom: 20px;
}
.totalamount{
    padding-bottom: 50px;
}



